<SmartFoxConfig>
	<ip>95.211.197.81</ip>
	<port>9944</port>
    <udpHost>95.211.197.81</udpHost>
	<udpPort>9944</udpPort>
	<blueBoxIpAddress>95.211.197.81</blueBoxIpAddress>
	<blueBoxPort>8080</blueBoxPort>
	<httpPort>8080</httpPort>
	<httpPollSpeed>750</httpPollSpeed>
	<zone>Demo</zone>
</SmartFoxConfig>